const resizeOps = () => {
  
document.documentElement.style.setProperty("--vh", window.innerHeight * 0.01 + "px");
  };

resizeOps();
window.addEventListener("resize", resizeOps);

.modal {
  width: 50vw;
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
}

.fade-out {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.video-section {
    text-align: center;
    margin: 2rem 0;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-grid iframe {
    width: 80vh;
    height: 40vh;
    margin: 0%;
}
